<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <select name="hours" class="form-control">
        {% for i in range(1, 13) %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <select name="minutes" class="form-control">
        <option value=":00">:00</option>
        <option value=":30">:30</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <select name="ampm" class="form-control">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
      </select>
    </div>
  </div>
</div>
