<div class="footer">
  <div class="container">
    <div class="media">
      <img class="pull-left thumbnail" height="100px" src="/static/img/logo.png">
      <div class="media-body">
        <nav>
          <ul>
            <li><a href="mailto:admin@voluntr.com">Suggest a Skill</a></li>
            <li><a href="http://github.com/euclio/voluntr">GitHub</a></li>
          </ul>
        </nav>
        <small>Andy Russell, Erin Chavanne, Melinda Ho, Michael Cohen &copy; 2014-Present</small>
      </div>
    </div>
  </div>
</div>
