.matrix table {
  border-collapse: collapse;
}

.selected {
  background-color: #9DA3F5;
}

.matrix td {
  border: solid black 1px;
  width: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-align: center;
  vertical-align: middle;
}
