<head>
<% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <h1>Your Events</h1>
    <ul class="media-list">
      <% for (var i = 0; i < events.length; ++i) { %>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="event photo">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Event <%= i %></h4>
            <p><%= events[i].description %></p>
            <small><%= moment(events[i].startTime).format('hh:mma, MMMM DD') %> &mdash; <%= moment(events[i].endTime).format('hh:mma, MMMM DD') %></small>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
</body>
