<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <h1>Voluntr</h1>
    <p>Find an event to volunteer for, or create your own!</p>
  </div>
</body>
</html>
