<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <div class="jumbotron">
      <h1>Voluntr</h1>
      <blockquote>
        <p>A system for matching potential volunteers with events in need of help by interests, skills, and time availability.</p>
        <footer>Andy Russell, CEO</footer>
      </blockquote>
      <p>Find an event to volunteer for, or create your own!</p>
      <a class="btn btn-primary btn-lg" href="/register?role=volunteer">
        <span class="glyphicon glyphicon-user"></span> I want to volunteer
      </a>
      <a class="btn btn-primary btn-lg" href="/register?role=coordinator">
        <span class="glyphicon glyphicon-pencil"></span> I want to organize
      </a>
    </div>
  </div>
  <% include ../partials/footer %>
</body>
</html>
