{% extends "layouts/default.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/matrix.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/registrationmatrix.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ event.title }}</h1>
  <div class="row">
    <div class="col-xs-4">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/300x300" alt="event photo">
      </a>
    </div>
    <div class="col-xs-6">
      <p>{{ event.description }}</p>
    </div>
  </div>
  {% if user.role == 'volunteer' %}
    {# Only volunteers are allowed to register for events #}
    <table class="matrix registrationMatrix">
      <thead>
        <tr>
          {% for timeslot in timeslots %}
            <td>{{ moment(timeslot.startTime).format('h:mmA') }}</td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for timeslot in timeslots %}
          <td {% if timeslot.selected %}class="selected"{% endif %}>{{ timeslot.num_confirmed }}/{{ timeslot.num_needed }}</td>
          {% endfor %}
        </tr>
    </table>
  {% endif %}
</div>
{% endblock %}
