{% extends "layouts/default.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/matrix.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/registrationmatrix.js"></script>
<script src="/static/js/assignmentmatrix.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ event.title }}</h1>
  <div class="row">
    <div class="col-xs-4">
      <a href="#" class="thumbnail">
        <img src="http://placekitten.com/g/300/300" alt="event photo">
      </a>
    </div>
    <div class="col-xs-6">
      <p>{{ event.description }}</p>
    </div>
  </div>
  {% if user.role == 'volunteer' %}
    {# Only volunteers are allowed to register for events #}
    <form action="/events/{{ event.eventID }}/register" method="post">
      <div class="form-group">
        <label for="timeslot">Event Registration</label>
        <table class="matrix registrationMatrix">
          <thead>
            <tr>
              {% for timeslot in timeslots %}
                <td>{{ moment(timeslot.startTime).format('h:mmA') }}</td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for timeslot in timeslots %}
                <td data-timestamp="{{ timeslot.startTime }}" {% if timeslot.selected %}class="selected"{% endif %}>{{ timeslot.num_confirmed }}/{{ timeslot.num_needed }}</td>
              {% endfor %}
            </tr>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <small>Note: The numbers within each cell indicate how many slots have been assigned to volunteers. You may register for slots that are full, but please note that you are less likely to be assigned to those slots.</small>
  {% else %}
    <div class="container">
      <form action="/events/{{ event.eventID }}/assign" method="post">
        <div class="form-group">
          <label for="registration">Timeslot Assignments</label>
          {% if timeslots.length > 0 %}
            <table class="matrix assignmentMatrix">
              <thead>
                <tr>
                  <td>Volunteer</td>
                  {% for timeslot in timeslots.slice(0, numTimeslots) %}
                    <td>{{ moment(timeslot.startTime).format('h:mmA') }}</td>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for userTimeslots in timeslots|batch(numTimeslots) %}
                  <tr>
                  {% for timeslot in userTimeslots %}
                    {% if loop.index == 1 %}
                      {% set firstTimeslot = userTimeslots|first %}
                      <td>{{ firstTimeslot.name }}</td>
                    {% endif %}
                    <td data-timeslot="{{ timeslot.startTime }}" data-user="{{ timeslot.userID }}">{% if timeslot.assigned != null %}<input type="checkbox" name="registration" {% if timeslot.assigned %}checked{% endif %}>{% endif %}</td>
                  {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
          <p>Sorry, no volunteers have registered for your event yet.</p>
          {% endif %}
        </div>
        {% if timeslots.length > 0 %}
          <button type="submit" class="btn btn-primary">Assign</button>
        {% endif %}
      </form>
    </div>
  {% endif %}
</div>
{% endblock %}
