{% extends "layouts/default.html" %}

{% block content %}
<div class="container">
  <div class="container">
    <h1>Events</h1>
    <div class="container">
      <form class="form-inline" action="/events" method="get">
        <div class="form-group">
          <label class="sr-only" for="eventFilter">Event Filter</label>
          <select id="eventFilter" name="which" class="form-control">
            <option value="user">My Events</option>
            <option value="all">All Events</option>
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="datePicker">Day</label>
          <input id="datePicker" name="date" class="form-control">
        </div>
        <div class="form-group">
          <label class="sr-only" for="keywords">Keywords</label>
          <input id="keywords" name="keywords" class="form-control" placeholder="Keywords">
        </div>
        <button class="form-control btn btn-primary" type="submit">Filter</button>
      </form>
    </div>
    <ul class="media-list">
      {% for event in events %}
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="event photo">
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{ event.title }}</h4>
            <p>{{ event.description }}</p>
            <small>{{ moment(event.startTime).format('hh:mma, MMMM DD') }} &mdash; {{ moment(event.endTime).format('hh:mma, MMMM DD') }}</small>
          </div>
        </li>
      {% endfor %}
    </ul>
    <nav>
      <ul class="pagination">
        {% for pageNumber in range(1, numPages + 1) %}
          <li {% if pageNumber == currentPage + 1 %}class="active"{% endif %}>
            <a href="/events?page={{ pageNumber }}">{{ pageNumber }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  $(function() {
    $('#datePicker')
        .attr('placeholder', new Date().toLocaleDateString())
        .datepicker();
  });
</script>
{% endblock %}
