{% extends "layouts/default.html" %}

{% block styles %}
{{ super () }}
<link rel="stylesheet" href="/static/css/matrix.css">
<link rel="stylesheet" href="/static/components/bootstrap-multiselect/bootstrap-multiselect.css">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Profile Page</h1>
  <p>Welcome, {{ user.name }}! You are logged in as a <strong>{{ user.role }}</strong>.</p>
  <h2>Skills</h2>
  <form method="post" action="/profile">
  <select id="volunteer-skills" name="skills" multiple="multiple">
    {% for skill in skills|sort(attribute='skillName') %}
    <option value="{{ skill.skillID }}" {% if skill.selected %}selected="selected"{% endif %}>{{ skill.skillName }}</option>
    {% endfor %}
  </select>
  <h2>Availability</h2>
  <div class="matrix timematrix"></div>
  <button class="btn btn-primary" type="submit">Update Profile</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/timematrix.js"></script>
<script src="/static/components/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script>
  window.selectedTimes = JSON.parse('{{ selectedTimes|safe }}');
  $(document).ready(function() {
    $('#volunteer-skills').multiselect({
      enableFiltering: true,
      numberDisplayed: 10
    });
  });
</script>
{% endblock %}
